{{- define "title" }}{{ .Title }} · {{ .Site.Title }}{{ end -}}

{{- define "content" }}
<section id="archive" class="archive">
    {{ range $key, $value := .Site.Taxonomies.categories }}
      <div class="archive-title category">
          <h2 class="archive-name">{{ $key }} </h2>
      </div>
      {{ range $value.Pages }}
        <div class="archive-post">
          <span class="archive-post-time">
            {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
          </span>
          <span class="archive-post-title">
            <a href="{{ .URL }}" class="archive-post-link">
              {{ .Title }}
            </a>
          </span>
        </div>
      {{ end }}
      
    {{ end }}

</section>
{{- end }}